<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <bean id="Helper" class="demo5.A_B_Hellper">
            <property name="sayHello" ref="B"/>
        </bean>
        <bean id="A" class="demo5.A"/>
        <bean id="B" class="demo5.B"/>
</beans>